<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./static/assets/icons/icon.svg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="../static/js/script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <title>ArthicsuGPT - {{ title }}</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="fa-brands fa-artstation"></i> ArthicsuGPT</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown me-3">
                            <a class="nav-link dropdown-toggle" href="#" id="labsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-code me-1"></i>Исходный код ЛР
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="labsDropdown">
                                <li><h6 class="dropdown-header">Нейронные сети</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/master" target="_blank">
                                        <i class="fab fa-github me-2"></i>BasicNN_Sigmoid (classification)
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/tensorflow-br" target="_blank">
                                        <i class="fab fa-github me-2"></i>NN_with_Tensorflow (classification)
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/regress-tensorflow-br" target="_blank">
                                        <i class="fab fa-github me-2"></i>NN_with_Tensorflow (regression)
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Классификация</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/classificate-instrument-sklearn-br" target="_blank">
                                        <i class="fab fa-github me-2"></i>NN_classificate_instrument_sklearn
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/LR-classificate-instrument-br" target="_blank">
                                        <i class="fab fa-github me-2"></i>LR_classificate_instrument
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT/tree/modelH5-classificate-clothes-br" target="_blank">
                                        <i class="fab fa-github me-2"></i>Tensorflow ModelH5 classificate clothes
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT_2/tree/satellite-image-classification" target="_blank">
                                        <i class="fab fa-github me-2"></i>TensorFlow Сlassificate satellite images
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Классификация PyTorch</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT_2/tree/PyTorch-FastApi" target="_blank">
                                        <i class="fab fa-github me-2"></i>PyTorch Сlassificate satellite images
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="projectsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-project-diagram me-1"></i>Проекты
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="projectsDropdown">
                                <li><h6 class="dropdown-header">Git проектов 2-го курса</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT" target="_blank">
                                        <i class="fas fa-brain me-2"></i>ArthicsuGPT
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Git проектов 3-го курса</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://github.com/Arthicsu/ArthicsuGPT_2" target="_blank">
                                        <i class="fas fa-robot me-2"></i>ArthicsuGPT_2
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><h6 class="dropdown-header">Дополнительно</h6></li>
                                <li>
                                    <a class="dropdown-item" href="https://www.kaggle.com/code/savitasrivastava1402/satellite-image-classification-using-efficientnet/input" target="_blank">
                                        <i class="fas fa-database me-2"></i>Датасет Satellite Image
                                    </a>
                                </li>
<!--                                <li>-->
<!--                                    <a class="dropdown-item" href="/projects/documentation" target="_blank">-->
<!--                                        <i class="fas fa-book me-2"></i>Документация-->
<!--                                    </a>-->
<!--                                </li>-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="content">
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer class="footer mt-auto py-3 bg-dark text-white">
            <div class="container text-center">
                <span>
                    Проект на GitHub:
                    <a href="https://github.com/Arthicsu/ArthicsuGPT" target="_blank" class="text-decoration-none text-light">
                        <i class="fab fa-github"></i> Репозиторий ArthicsuGPT
                    </a>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>